header.global-header .header-logo a .logo {
    @include media-breakpoint-down(xs) {
        height: 28px;
    }
}
.home > header {
    @include media-breakpoint-down(xs,sm) {
            min-height: 150px;
    }
    
    @media (min-width: 0px) and (max-width: 576px) {
            min-height: 300px;
    }
    @media (min-width: 576px) and (max-width: 768px) {
        min-height: 350px;
}
@media (min-width: 768px) and (max-width: 992px) {
    min-height: 400px;
}
@include media-breakpoint-up(lg) {
        min-height: 796px;
    }
}


.parallax-img {
    background: #040404 url("#{$static-path}/images/background.jpeg") no-repeat 50% 50%;
    background-size: 100% auto;
}
