header.global-header .header-logo a .logo {
    @include media-breakpoint-down(xs) {
        height: 28px;
    }
}
.home > header {
    @include media-breakpoint-down(xs) {
            min-height: 150px;
    }
    
    @include media-breakpoint-between(xs,sm) {
            min-height: 300px;
    }
    @include media-breakpoint-between(sm,md) {
        min-height: 350px;
}
@include media-breakpoint-between(md,lg) {
    min-height: 400px;
}
@include media-breakpoint-up(lg) {
    min-height: 796px;
}
}


.parallax-img {
    background: #040404 url("#{$static-path}/images/background.jpeg") no-repeat 50% 50%;
    background-size: 100% auto;
}
